body {
  background-color: lightgray;
}

.tableContainer {
  display: grid;
  justify-self: center;
  align-content: start;
  margin-top: 50px;
  padding: 10px;
  padding-bottom: 1%;
  width: fit-content;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
}

table {
  border-spacing: 0;
}

tbody tr:nth-child(even) {
  background-color: lightgray;
}

tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}

p {
  margin: 0;
  margin-bottom: 3%;
  justify-self: center;
  font-size: 50px;
}

td {
  font-size: 25px;
  padding: 5px 20px;
}
button {
  font-size: 30px;
}
